/*----- Universal Style -----*/
html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #353638;
}

h1 {
    font-size: 2.75rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3.25rem;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2rem;
    padding-bottom: .5rem;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #353638;
}

a:hover {
    color: blue;
}

strong {
    font-weight: 700;
}

.button {
    color: white;
    background-color: #353638;
    padding: 1.1rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 3rem;
}

.button:hover {
    background-color: black;
}

.read-more a {
    color: blue;
    display: block;
    padding-top: .5rem;
}

a img {
    opacity: .8;
}

a img:hover {
    opacity: 1;
}

.mobile {
    display: none;
}

/*----- Header -----*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
    opacity: .9;
    margin: 1rem 1.5rem;
}

header .desktop {
    display: flex;
}

#logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#logo span {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0 .5rem;
    text-transform: capitalize;
}