/*----- Universal Style -----*/
html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #353638;
}

h1 {
    font-size: 2.75rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3.25rem;
    padding-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 3rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2rem;
    padding-bottom: .5rem;
}

p {
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #353638;
}

a:hover {
    color: teal;
}

strong {
    font-weight: 700;
}

a img {
    opacity: .8;
}

a img:hover {
    opacity: 1;
}

button {
    color: ivory;
    background-color: #353638;
    padding: 1.1rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 3rem;
    border: none;
    display: block;
    width: 100%;
}

button:hover {
    background-color: teal;
}

.read-more a {
    color: teal;
    display: block;
    padding-top: .5rem;
}

.mobile {
    display: none;
}

/*----- Header -----*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: ivory;
    z-index: 1;
    opacity: .9;
    padding: 1rem 1.5rem;
}

header .desktop {
    display: flex;
}

#logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#logo span {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 0 .5rem;
    text-transform: capitalize;
}

/*----- Main Section -----*/
section {
    padding: 1.5rem 2rem;
    display: flex;
    margin-top: 4rem;
}

section:nth-child(odd){
    background-color: silver;
}

section:nth-child(even){
    background-color: lightgray;
}

.main-container {
    width: 60%;
    padding-right: 1.5rem
}

.main-container img {
    max-width: 100%;
}

.side-container {
    width: 40%;
}

/*----- Banner Section -----*/
#banner {
    align-items: center;
}

#banner .side-container {
    padding: 0 2rem;
}


